* {
  box-sizing: border-box;
}
#sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  /* z-index: 1; */
  overflow-x: visible;
}

body {
  background-color: linen;
  margin: 0;
  /* background: rgba(0, 0, 0, .65);
  background-blend-mode: darken;
  filter: brightness(50%); */
}
canvas {
  border: 0px;
  margin: auto;
}
p {
  margin: 6px;
  font-family: Courier, sans-serif;
  font-size: 13px;
}
input {
  margin: 6px;
  font-family: Courier, sans-serif;
}
button {
  border-color: #e7e7e7;
  color: black;
  border: 2px solid black;
  background-color: white;
  padding: 2px 2px;
  margin: 2px 2px;
  font-size: 11px;
  cursor: pointer
}

button:hover {
  background: #e7e7e7;
}
